<% content_for :content do %>
  <div class="page-header">
    <h1>Dashboard <small>Die wichtigsten Informationen im Überblick.</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <div class="well">
        <h2>Bücher</h2>
        <p>
          <ul>
            <li><%= Book.count %> Bücher insgesamt.</li>
            <li><%= Lending.unreturned.count %> Bücher verliehen.</li>
            <li><%= Lending.overdue.count %> Bücher überfällig.</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h2>Leihzettel</h2>
        <p>
          <ul>
            <li><%= Lending.unprinted.count %> Zettel ungedruckt.</li>
            <li><%= link_to "Zu den Leihzetteln", printouts_path %>.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>

<% end %>
