<%= semantic_form_for [:admin, @book] do |f| %>
<fieldset class="inputs">
  <div class="row">
    <div class="span2">
      <%= f.input :signatur, :input_html => {:class => "span2"} %>
    </div>
    <div class="span2">
      <%= f.input :nebensignatur, :input_html => {:class => "span2"}%>
    </div>
    <div class="span2">
      <%= f.input :stifter, :input_html => {:class => "span2"} %>
    </div>
    <div class="span2">
      <%= f.input :standort, :input_html => {:class => "span2"} %>
    </div>
    <div class="span4">
      <%= f.input :publikationsart, :input_html => {:class => "span4"} %>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <%= f.input :autor, :input_html => {:class => "span8"} %>
    </div>
    <div class="span4">
      <%= f.input :autor_japanisch, :input_html => {:class => "span4"} %>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <%= f.input :titel, :input_html => {:class => "span8"} %>
    </div>
    <div class="span4">
      <%= f.input :titel_japanisch, :input_html => {:class => "span4"} %>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <%= f.input :reihe, :input_html => {:class => "span8"} %>
    </div>
    <div class="span4">
      <%= f.input :reihe_japanisch, :input_html => {:class => "span4"} %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <%= f.input :verlag, :input_html => {:class => "span4"} %>
    </div>
    <div class="span4">
      <%= f.input :verlag_japanisch, :input_html => {:class => "span4"} %>
    </div>
    <div class="span4">
      <%= f.input :ort, :input_html => {:class => "span4"} %>
    </div>
  </div>
  <div class="row">
    <div class="span1">
      <%= f.input :seiten, :input_html => {:class => "span1"}%>
    </div>
    <div class="span1">
      <%= f.input :format, :input_html => {:class => "span1"} %>
    </div>
    <div class="span1">
      <%= f.input :jahr, :input_html => {:class => "span1"} %>
    </div>
    <div class="span1">
      <%= f.input :auflage, :input_html => {:class => "span1"}%>
    </div>
    <div class="span1">
      <%= f.input :baende, :input_html => {:class => "span1"} %>
    </div>
    <div class="span1">
      <%= f.input :sprache, :input_html => {:class => "span1"}%>
    </div>
    <div class="span1"> <%= f.input :preis, :input_html => {:class => "span1"} %>
    </div>
    <div class="span1"><%= f.input :invent, :input_html => {:class => "span1"} %>
    </div>
    <div class="span4">
      <%= f.input :aufnahmedatum, :input_html => {:class => "span4"}, :as => :string %>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <%= f.input :isbn, :input_html => {:class => "span6"} %>
    </div>
    <div class="span6">
      <%= f.input :issn, :input_html => {:class => "span6"} %>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <%= f.input :inhalt, :input_html => {:class => "span4", :rows => "4"} %>
    </div>
    <div class="span4">
      <%= f.input :anmerkungen, :input_html => {:class => "span4", :rows => "4"} %>
    </div>
    <div class="span4">
      <%= f.input :bearbeiter, :input_html => {:class => "span4"}%>
      <%= f.input :altes_datum, :input_html => {:class => "span4"} %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= f.input :nacsis_url, :input_html => {:class => "span12"} %>
     </div>
  </div>
  <div class="row">
    <div class="span6">
      <%= f.input :nacsis_japanisch, :input_html => {:class => "span6", :rows => "4"} %>
    </div>
    <div class="span3">
      <%= f.input :kommentar, :input_html => {:class => "span3", :rows => 4} %>
    </div>
    <div class="span3">
      <%= f.input :interne_notizen, :input_html => {:class => "span3", :rows => 4}, :as => :text %>
    </div>
  </div>
    
</fieldset>
<fieldset class="form-actions">
  <button id="submit_book" class="btn primary"><%=icon "file"%>Speichern</button>
</fieldset>


<% end %>
