
<div class="container">
  <div class="row">
  
    <div class="span3">
      <p>Willkommen beim Online-Bibliothekskatalog der Japanologie. Sie finden hier den Gesamtbestand unserer Bibliothek (momentan noch ausschließlich Zeitschriften- und Medienbestand).</p>
      <p>Alle Felder sind durchsuchbar.</p>
      <p>Sollten Sie im Signaturfeld auf eine der folgende Bezeichnungen stoßen - „Signatur folgt“ oder „Best. Nr. …“ - dann ist das Buch zwar in den Katalog aufgenommen, aber noch nicht für die Ausleihe vorbereitet.</p>
      <p>Bei "Best.Nr. ...“ ist es noch im Bestellvorgang und wird nach Lieferung und Beklebung mit Signaturschild automatisch für einige Wochen zu den Neuerwerbungen gestellt. Danach ist es zur Ausleihe bereit.</p>
      <p>Bücher mit „Signatur folgt“ sind in unserem Magazin zwischengelagert und werden erst nach Anforderung durch Sie aktiv in die Ausleihe aufgenommen, d.h. Sie müssten an der Leihtheke oder per e-mail (bibliothek@japanologie.uni-tuebingen.de) bei uns Bescheid geben, dass Sie dieses Buch benötigen. Sie sollten Antwort von einem Bibliotheksmitarbeiter bekommen, dass die Nachricht eingegangen und Ihrem Wunsch entsprochen worden ist. Dann dauert es - abhängig davon, ob Semesterferien sind oder nicht – ca. 3 Wochen, bis wir das Buch mit Signaturnummer und –schild versehen haben.</p>
    </div>
    <div class="span9">
      <h1><%= @total_amount%> Ergebnisse</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Signatur</th>
            <th>Titel</th>
            <th>Autor</th>
            <th>Entliehen?</th>
            <th>Aktionen</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.signatur %></td>
              <td><%= book.titel %></td>
              <td><%= book.autor %></td>
              <td><%= book.current_lending ? "Bis #{book.current_lending.return_date.strftime '%d.%m.%y'}" : "Nicht entliehen" %></td>
              <td><%= link_to 'Details', opac_show_book_path(book) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @books %>
    </div>
  </div>
</div>
