<div class="container">
  <div class="row">
    <div class="span12">
      <h1><%= "#{@book.titel} - #{@book.autor}"  %></h1>
      <div class="row">
        <div class="span2">
          <span class='label'>signatur </span>: <%= @book.signatur  %>
        </div>
        <div class="span2">
          <span class='label'>nebensignatur</span>: <%= @book.nebensignatur %>
        </div>
        <div class="span2">
          <span class='label'>stifter </span>: <%= @book.stifter  %>
        </div>
        <div class="span2">
          <span class='label'>standort </span>: <%= @book.standort  %>
        </div>
        <div class="span4">
          <span class='label'>publikationsart </span>: <%= @book.publikationsart  %>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <span class='label'>autor </span>: <%= @book.autor  %>
        </div>
        <div class="span4">
          <span class='label'>autor_japanisch </span>: <%= @book.autor_japanisch  %>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <span class='label'>titel</span>: <%= @book.titel %>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <span class='label'>titel_japanisch</span>: <%= @book.titel_japanisch %>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <span class='label'>reihe </span>: <%= @book.reihe  %>
        </div>
        <div class="span4">
          <span class='label'>reihe_japanisch </span>: <%= @book.reihe_japanisch  %>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <span class='label'>verlag </span>: <%= @book.verlag  %>
        </div>
        <div class="span4">
          <span class='label'>verlag_japanisch </span>: <%= @book.verlag_japanisch  %>
        </div>
        <div class="span4">
          <span class='label'>ort </span>: <%= @book.ort  %>
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <span class='label'>seiten</span>: <%= @book.seiten %>
        </div>
        <div class="span1">
          <span class='label'>format </span>: <%= @book.format  %>
        </div>
        <div class="span1">
          <span class='label'>jahr </span>: <%= @book.jahr  %>
        </div>
        <div class="span1">
          <span class='label'>auflage</span>: <%= @book.auflage %>
        </div>
        <div class="span1">
          <span class='label'>baende </span>: <%= @book.baende  %>
        </div>
        <div class="span1">
          <span class='label'>sprache</span>: <%= @book.sprache %>
        </div>
        <div class="span1"> <span class='label'>preis </span>: <%= @book.preis  %>
        </div>
        <div class="span1"><span class='label'>invent </span>: <%= @book.invent  %>
        </div>
        <div class="span4">
          <span class='label'>aufnahmedatum</span>: <%= @book.aufnahmedatum %>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <span class='label'>isbn </span>: <%= @book.isbn  %>
        </div>
        <div class="span6">
          <span class='label'>issn </span>: <%= @book.issn  %>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <span class='label'>inhalt</span>: <%= @book.inhalt %>
        </div>
      </div>
    </div>
  </div>
</div>

