<div class="container">
  <div class="row">
    <h2>
      <%= "#{@book.titel} - #{@book.autor}"  %>
    </h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>
            <span class='label'>Signatur </span>: <%= @book.signatur  %>
          </td>
          <td>
            <span class='label'>Nebensignatur</span>: <%= @book.nebensignatur %>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Autor </span>: <%= @book.autor  %>
          </td>
          <td>
            <span class='label'>Autor Japanisch </span>: <%= @book.autor_japanisch  %>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Titel</span>: <%= @book.titel %>
          </td>
          <td>
            <span class='label'>Titel Japanisch</span>: <%= @book.titel_japanisch %>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Reihe </span>: <%= @book.reihe  %>
          </td>
          <td>
            <span class='label'>Reihe Japanisch </span>: <%= @book.reihe_japanisch  %>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Erscheinungsort </span>: <%= @book.ort  %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Verlag </span>: <%= @book.verlag  %>
          </td>
          <td>
            <span class='label'>Verlag Japanisch </span>: <%= @book.verlag_japanisch  %>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Jahr </span>: <%= @book.jahr  %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Auflage</span>: <%= @book.auflage %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>ISBN </span>: <%= @book.isbn  %>
          </td>
          <td>
            <span class='label'>ISSN </span>: <%= @book.issn  %>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Bände </span>: <%= @book.baende  %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Seiten </span>: <%= @book.seiten  %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Format </span>: <%= @book.format  %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Sprache </span>: <%= @book.sprache  %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span class='label'>Inhalt </span>: <%= @book.inhalt  %>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <tr>
        <td>
          <span class='label'>Standort </span>: <%= @book.standort %>
        </td>
      </tr>
      <tr>
        <td>
          <span class='label'>Publikationsart </span>: <%= @book.publikationsart  %>
        </td>
      </tr>
      <tr>
        <td>
          <span class='label'>Stifter </span>: <%= @book.stifter  %>
        </td>
      </tr>
      <tr>
        <td>
          <span class='label'>Invent. </span>: <%= @book.invent  %>
        </td>
      </tr>
      <tr>
        <td>
          <span class='label'>Preis </span>: <%= @book.preis  %>
        </td>
      </tr>
      <tr>
        <td>
          <span class='label'>CiNii URL </span>: <%= @book.nacsis_url  %>
        </td>
      </tr>
      <tr>
        <td>
          <span class='label'>CiNii Eintrag </span>: <%= @book.nacsis_japanisch  %>
        </td>
      </tr>
    </table>
  </div>
</div>
