<%= semantic_form_for [:admin, @borrower], :html => {:class => "maxed-form"} do |f| %>
  <fieldset class="inputs well">
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :name %>
      </div>
      <div class="span4">
        <%= f.input :matrikelnr, :as => :string %>
      </div>
      <div class="span4">
        <%= f.input :ub_nr %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :email %>
      </div>
      <div class="span4">
        <%= f.input :telefon %>
      </div>
      <div class="span4">
        <%= f.input :status %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :bearbeiter %>
      </div>
      <div class="span4">
        <%= f.input :telefon2 %>
      </div>
      <div class="span4">
        <%= f.input :mobiltelefon %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :anschrift, :as => :text, :input_html => {rows: 4} %>
      </div>
      <div class="span4">
        <%= f.input :heimatanschrift, :as => :text, :input_html => {rows: 4} %>
      </div>
      <div class="span4">
        <%= f.input :vermerke, :as => :text, :input_html => {rows: 4} %>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-actions">
    <button id="submit_borrower" class="btn primary"><%=icon "file"%>Speichern</button>
    <%= link_to "Abbrechen", request.referrer, :class => "btn" %>
  </fieldset>


<% end %>
