<% content_for :content do %>
  <div class="page-header">
    <h1>Nutzer bearbeiten</h1>
  </div>
  <%= render "form"%>
<% end %>

<% content_for :sidebar do %>
  <div class="page-header">
    <h1>Aktionen</h1>
  </div>
  <div class="well">
    <h3>Entliehene Bücher</h3>
    <hr></hr>
    <% if @borrower.unreturned.count == 0 %>
      <p><span class="label label-success">Keine Bücher entliehen!</span></p>
    <% else %>
      <%= form_tag admin_lendings_return_or_extend_path, :method => :post do |f| %>
        <%= link_to(icon("ok") + "Alles / Nichts", "", :class => "boxes_selector btn small", :data => {:state => "all"}) %>
        <br></br>
        <fieldset>
          <% @borrower.unreturned.each do |lending| %>
            <% lending = LendingDecorator.new(lending) %>
            <label class="checkbox">
              <%= check_box_tag "lending_ids[]", lending.id, false, :id => "lending_id_#{lending.id}" %>
              <%= lending.book_info %>
              <br />
              <%= lending.return_date %>
            </label>
            <%= link_to "Zum Buch", admin_book_path(lending.book) %>
          <% end %>
        </fieldset>
        <fieldset>
          <label for="return_date">Neues Rückgabedatum</label>
          <input id="return_date" name="return_date" class="date" value="<%= Date.today + 28.days%>"/>
        </fieldset>
        
        <fieldset class="actions">
          <div class="btn-group">
            <button type="submit" id="return" name="return" class="btn primary" title="Zurückgeben" data-confirm="Wirklich zurückgeben?">
              <%= icon("share") %>
            </button>
            <button type="submit" id="extend" name="extend" class="btn" title="Verlängern" data-confirm="Wirklich verlängern?">
              <%= icon("plus") %>
            </button>
          </div>
        </fieldset>
      <% end %>
    <% end %>
  </div>
   
<% end %>
