<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Aktionen</li>
      <li><%= link_to icon("file") + "Neuer Entleiher", new_admin_borrower_path, :id => "new_borrower_button" %></li>
    </ul>
    <ul class="nav nav-list">
      <li class="nav-header">Suche</li>
      <li>
        <%= form_tag admin_borrowers_path, method: "get", id: "search_form" do %>
          <fieldset>
            <input type="text" id="search" name="search" class="span12" value="<%= params[:search] %>"></input>
          <fieldset>
          <button id="search_button" class="btn">Suchen</button>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1>Entleiher <small><%= @borrowers.total_count %> Ergebnisse</h1>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= link_to 'ID', admin_borrowers_path%></th>
            <th><%= link_to 'Name', admin_borrowers_path(:params => {:search => session[:search], :sort_order => 'name'})%></th>
            <th>Email</th>
            <th><%= link_to 'Matrikelnummer', admin_borrowers_path(:params => {:search => session[:search], :sort_order => 'matrikelnr'})%></th>
            <th>Bücher</th>
            <th>Aktionen</th>
          </tr>
        </thead>
        <tbody>
          <% @borrowers.each do |borrower| %>
            <tr>
              <td><%= borrower.id %></td>
              <td><%= link_to borrower.name, edit_admin_borrower_path(borrower) %></td>
              <td><%= borrower.email %></td>
              <td><%= borrower.matrikelnr %></td>
              <td><%= borrower.books_info %></td>
              <td class="actions">
                <div class="btn-group">
                  <%= link_action 'edit_borrower', 'pencil', admin_borrower_path(borrower), borrower %>
                  <%= link_action 'delete_borrower', 'trash', admin_borrower_path(borrower), borrower, :method => :delete, :confirm => "Diesen Nutzer wirklich löschen? Alle Bücher dieses Nutzer werden damit automatisch zurückgegeben." %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @borrowers %>
<% end %>
