<% content_for :sidebar do %>
  <h1>Suche</h1>
  <p>
  <%= form_tag admin_books_path, method: "get", id: "search_form" do %>
    <fieldset>
      <input type="text" id="search" name="search" class="span3" value="<%= params[:search] %>"></input>
    <fieldset>
    <button id="search_button" class="btn span2">Suchen</button>
  <% end %>
  </p>
<% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1>Bücher</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Autor</th>
        <th>Signatur</th>
        <th>Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.id %></td>
          <td><%= link_to book.titel, admin_book_path(book) %></td>
          <td><%= book.autor %></td>
          <td><%= "#{book.signatur} #{book.nebensignatur}" %></td>
          <td><%= link_to "Anzeigen", admin_book_path(book)%> | <%= link_to "Bearbeiten", edit_admin_book_path(book) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @books %>
<% end %>
