<% content_for :sidebar do %>
  <div class="page-header">
    <h1>Suche</h1>
  </div>
  <p>
  <%= form_tag admin_books_path, method: "get", id: "search_form" do %>
    <fieldset>
      <input type="text" id="search" name="search" class="span3" value="<%= params[:search] %>"></input>
    <fieldset>
    <button id="search_button" class="btn">Suchen</button>
  <% end %>
  </p>
  <div class="page-header">
    <h1>Aktionen</h1>
  </div>
  <p>
    <%= link_to "Neues Buch", new_admin_book_path, :class => "btn" %>
  </p>
<% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1>Bücher</h1>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Autor</th>
            <th>Signatur</th>
            <th>Entliehen</th>
            <th>Bearbeiten</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.id %></td>
              <td><%= link_to book.titel, admin_book_path(book) %></td>
              <td><%= book.autor %></td>
              <td><%= "#{book.signatur} #{book.nebensignatur}" %></td>
              <td><% if book.current_lending %>
                  <%= link_to(book.borrower, admin_borrower_path(book.current_lending.borrower)) %>
                  <%= tag("br") %>
                  <%= "<span class='label warning'>".html_safe if book.current_lending.overdue? %>
                  <%= link_to(book.current_lending.return_date.strftime("%d.%m.%Y"), admin_lending_path(book.current_lending)) %>
                  <%= "</span>".html_safe if book.current_lending.overdue? %>
                <% else %>
                  "Nicht entliehen"
                <% end %>
              </td>
              <td class="actions">
                <div class="btn-group span2">
                  <%= link_to icon("pencil"), edit_admin_book_path(book), :class => "btn", :title => "Bearbeiten", :data => {:content => "Auf diesen Knopf drücken um das Buch anzusehen oder zu bearbeiten."}%>
                  <%= link_to icon("repeat"), duplicate_admin_book_path(book), :class => "btn", :title => "Duplizieren", :data => {:content => "Auf diesen Knopf drücken um das Buch zu duplizieren und den duplizierten Eintrag zu bearbeiten."} %>
                  <% unless book.current_lending %>
                    <%= link_to icon("share"), new_book_lending_path(book), :class => "btn", :title => "Verleihen", :data => {:content => "Auf diesen Knopf drücken um das Buch zu verleihen."}, :remote => true %>
                  <% else %>
                    <%= link_to icon("book"), return_current_lending_path(book), :class => "btn", :title => "Zurückgeben", :data => {:content => "Auf diesen Knopf drücken um das Buch zurück zu geben."},:method => :post, :confirm => "Wirklich zurückgeben?" %>
                    
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @books %>
<% end %>
