<%= form_for([:admin, @reminder]) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :send_date %><br />
    <%= f.date_select :send_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
