<% content_for :content do %>
  <div class="page-header">
    <h1>Mahnungen</h1>
  </div>
  
  <div class="row">
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Erstellt am</th>
            <th>Gemahnt am</th>
            <th>Mahnungen insgesamt</th>
            <th>Aktionen</th>
          </tr>
        </thead>
        <tbody>
        <% @reminders.each do |reminder| %>
          <tr>
            <td><%= reminder.created_at %></td>
            <td><%= reminder.send_date %></td>
            <td><%= reminder.total_emails %></td>
            <td>
              <div class="btn-group span2">
                <%= link_to icon("zoom-in"), [:admin, reminder], class: "btn"%>
                <% unless reminder.sent? %>
                  <%= link_to icon("pencil"), edit_admin_reminder_path(reminder), :class => "btn" %>
                  <%= link_to icon("envelope"), deliver_admin_reminder_path(reminder), :class => "btn", :method => :post %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Aktionen</li>
      <li><%= link_to "Neue Mahnung", new_admin_reminder_path %></li>
      <li><%= link_to "Mahntext ändern", change_text_admin_reminders_path %></li>
    </ul>
  </div>
<% end %>
