<% content_for :sidebar do%>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Aktionen</li>
      <li><%= link_to icon("print") + "Druckansicht", print_admin_collection_path(@collection, :sort_order => @sort_order), :id => "print_collection_button"%></li>
      <li><%= link_to icon("pencil") + "Alle editieren", mass_edit_admin_collection_path(@collection), :id => "mass_edit_button" %></li>
      <%= form_tag '', method: "get", id: "search_form" do %>
        <fieldset>
          <li>
            <label for="sort_order">Sortieren nach...</label>
            <select name="sort_order">
              <%= options_for_select @sortables, @sort_order %>
            </select>
          </li>
        <fieldset>
        <li>
          <button id="sort_button" class="btn">Sortieren</button>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1><%= @collection.name %></h1>
  </div>
  <table class="table">
    <thead>
      <th>Titel</th>
      <th>Autor</th>
      <th>Signatur</th>
      <th>Aktionen</th>
      <th>Sortiert nach <%= @sort_order %></th>
    </thead>
    <tbody>
      <% @books.each_with_index do |book,i| %>
        <tr>
          <td><%= link_to book.titel, edit_admin_book_path(book) %></td>
          <td><%= book.autor %></td>
          <td><%= [book.signatur, book.nebensignatur].join(" / ") %></td>
          <td class='actions'>
            <div class='btn-group'>
            <%= link_to icon("trash"), 
                        remove_book_admin_collection_path(@collection, book), 
                        :method => :post, :confirm => "Wirklich aus der Sammlung entfernen?",
                        :title => 'Löschen',
                        :class => 'btn',
                        :data => {:content => 'Das Buch aus der Sammlung entfernen'}
            %>
            <%= link_to icon('arrow-up'),
              remove_books_admin_collection_path(@collection, :delete_up_to => i + ((@page - 1) * 10), :sort_order => @sort_order), 
                        :title => 'Vorherige löschen',
                        :class => 'btn',
                        :method => :post, :confirm => "Wirklich alle vorherigen Bücher löschen?",
                        :data => {:content => 'Alle vorherigen Bücher aus der Sammlung entfernen.'} 
            %>
            </div>
          </td>
          <td><%= book.send(@sort_order.split(" ")[0]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @books %>
<% end %>
