<% content_for :sidebar do%>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Aktionen</li>
      <li><%= link_to icon("pencil") + "Alle editieren", mass_edit_admin_collection_path(@collection), :id => "mass_edit_button" %></li>
    </ul>
  </div>
<% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1><%= @collection.name %></h1>
  </div>
  <table class="table">
    <tbody>
      <% @collection.books.each do |book| %>
        <tr>
          <td><%= link_to book.titel, [:admin, book] %></td>
          <td><%= book.autor %></td>
          <td><%= link_to(icon("trash") + "Entfernen", 
                          remove_book_admin_collection_path(@collection, book), 
                          :method => :post, :confirm => "Wirklich aus der Sammlung entfernen?") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
