<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Aktionen</li>
      <li><%= link_to icon("file") + "Neues Buch", new_admin_book_path, :id => "new_book_button" %></li>
      <li><%= link_to icon("plus-sign") + "Alle zu Sammlung hinzufügen", add_all_to_collection_admin_books_path(search: params[:search]), :remote => true %></li>  
      <li><%= link_to icon("plus-sign") + "Erweiterte Suche", admin_advanced_search_path %></li>
    </ul>
    <ul class="nav nav-list">
      <li class="nav-header">Suche</li>
      <%= form_tag admin_books_path, method: "get", id: "search_form" do %>
        <fieldset>
          <li>
            <label for="search">Suchbegriff</label>
            <input type="text" id="search" name="search" class="span12" value="<%= params[:search] %>"></input>
          </li>
          <li>
            <label for="sort_order">Sortieren nach...</label>
            <select name="sort_order">
              <%= options_for_select @sortables, @sort_order %>
            </select>
          </li>
        <fieldset>
        <li>
          <button id="search_button" class="btn">Suchen</button>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1>Bücher <small><%= @results.total_count %> Ergebnisse</h1>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Autor</th>
            <th>Signatur</th>
            <th>Entliehen</th>
            <th class="span3">Bearbeiten</th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |book| %>
            <tr>
              <td><%= book.id %></td>
              <td>
                <%= link_to book.titel, admin_book_path(book) %>
                <%= tag "br" %>    
                <%= link_to book.titel_japanisch, admin_book_path(book)%>
              </td>
              <td>
                <%= book.autor %>
                <%= tag "br" %>
                <%= book.autor_japanisch %>
              </td>
              <td><%= "#{book.signatur} #{book.nebensignatur}" %></td>
              <td><% if book.current_lending %>
                  <%= link_to(book.borrower, edit_admin_borrower_path(book.current_lending.borrower)) %>
                  <%= tag("br") %>
                  <%= "<span class='label warning'>".html_safe if book.current_lending.overdue? %>
                  <%= book.current_lending.return_date.strftime("%d.%m.%Y") %>
                  <%= "</span>".html_safe if book.current_lending.overdue? %>
                <br><%= book.reservations.count %> mal vorgemerkt, <%= book.current_lending.extCount %> mal verlängert.
                  
                <% else %>
                  <%= render partial: 'not_borrowed_or_reserved', locals: {book: book} %>
                <% end %>
              </td>
              <td class="actions">
                <div class="btn-group">
                  <%= link_to icon("pencil"), edit_admin_book_path(book), :class => "btn", :title => "Bearbeiten", :data => {:content => "Auf diesen Knopf drücken um das Buch anzusehen oder zu bearbeiten."}%>
                  <%= link_to icon("repeat"), duplicate_admin_book_path(book), :class => "btn", :title => "Duplizieren", :data => {:content => "Auf diesen Knopf drücken um das Buch zu duplizieren und den duplizierten Eintrag zu bearbeiten."} %>
                  <%= link_to icon("list-alt"), add_to_collection_admin_book_path(book), :class => "btn", :title => "Zur Sammlung hinzufügen", :data => {content: "Dieses Buch zu einer Sammlung hinzufügen."}, :remote => true %>
                  <%= link_to icon('trash'), admin_book_path(book), :class => 'btn', :title => 'Löschen', :data => {:content => 'Dieses Buch löschen.'}, :confirm => 'Dieses Buch wirklich löschen', :method => :delete, :id => "delete_book_#{book.id}" %>
                </div>
                <br />
                <div class="btn-group">
                  <% unless book.current_lending %>
                    <%= link_to icon("share-alt"), lendings_new_admin_book_path(book), :class => "btn", :title => "Verleihen", :data => {:content => "Auf diesen Knopf drücken um das Buch zu verleihen."}, :remote => true, :id => "lend_book_#{book.id}" %>
                  <% else %>
                    <%= link_to icon("arrow-left"), return_book_admin_book_path(book), :class => "btn", :title => "Zurückgeben", :data => {:content => "Auf diesen Knopf drücken um das Buch zurück zu geben."},:method => :post, :confirm => "Wirklich zurückgeben?", :id => "return_book_#{book.id}" %>

                    <% if book.current_lending.overdue? %>
                      <%= link_to icon("calendar"), extend_current_lending_admin_book_path(book), :class => "btn", :title => "Verlängern", :data => {:content => "Dieser Knopf verlängert das Ausleihdatum um vier Wochen. Wenn eine andere Frist gewünscht ist bitte direkt auf den Leihvorgang gehen und dort das Datum editieren."}, :method => :post, :confirm => "Wirklich verlängern?", :id => "extend_book_#{book.id}" %>
                    <% end %>

                    <%= link_to icon('inbox'), reservations_new_admin_book_path(book), :class => 'btn', :title => 'Vormerken', :data => {:content => 'Das Buch für einen Nutzer vormerken.'}, :remote => true %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @results %>
<% end %>
