<!DOCTYPE html>
<html>
<head>
  <title>Zenodotos</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"></link>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Zenodotos</a>
      <ul class="nav">
        <li><%= link_to "Dashboard", admin_path %></li>
        <li><%= link_to "Bücher", admin_books_path %></li>
        <li><%= link_to "Entleiher", admin_borrowers_path %></li>
        <li><%= link_to "Leihvorgänge", admin_lendings_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="sidebar">
    <%= yield :sidebar %>
  </div>
  <div class="content">
    <%= yield :content %>
  </div>
</div>
</body>
</html>
