<!DOCTYPE html>
<html>
<head>
  <title>Zenodotos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Zenodotos", admin_path, :class => 'brand' %>
      <ul class="nav">
        <li><%= link_to "Bücher", admin_books_path %></li>
        <li><%= link_to "Entleiher", admin_borrowers_path %></li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>Mehr <b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><%= link_to "Sammlungen", admin_collections_path %></li>
            <li><%= link_to "Leihzettel", admin_printouts_path %></li>
            <li><%= link_to "Mahnungen", admin_reminders_path %></li>
            <li><%= link_to "Mitarbeiter", admin_coworkers_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li><%= image_tag current_admin_user.gravatar_url, :class => "avatar" %></li> 
        <li><%= link_to "#{current_admin_user.email} abmelden.", destroy_admin_user_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 sidebar">
      <%= yield :sidebar %>
    </div>
    <div class="span9">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= message %>
        </div>
      <% end %>
      <%= yield :content %>
    </div>
  </div>
</div>
</body>
</html>
