<!DOCTYPE html>
<html>
<head>
  <title>Zenodotos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Zenodotos</a>
      <ul class="nav">
        <li><%= link_to "Dashboard", admin_path %></li>
        <li><%= link_to "Bücher", admin_books_path %></li>
        <li><%= link_to "Entleiher", admin_borrowers_path %></li>
        <li><%= link_to "Leihvorgänge", "" %></li>
        <li><%= link_to "Leihzettel", admin_printouts_path %></li>
        <li><%= link_to "Mahnungen", admin_reminders_path %></li>
      </ul>
      <ul class="nav pull-right">
        <li><%= image_tag current_admin_user.gravatar_url, :class => "avatar" %></li> 
        <li><%= link_to "#{current_admin_user.email} abmelden.", destroy_admin_user_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid sidebar-left">
  <div class="fluid-sidebar">
    <%= yield :sidebar %>
  </div>
  <div class="fluid-content">
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>">
        <a class="close" data-dismiss="alert">&times;</a>
        <%= message %>
      </div>
    <% end %>
    <%= yield :content %>
  </div>
</div>
</body>
</html>
