<!DOCTYPE html>
<html>
<head>
  <title>Zenodotos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Zenodotos</a>
      <ul class="nav">
        <li><%= link_to "Dashboard", admin_path %></li>
        <li><%= link_to "Bücher", admin_books_path %></li>
        <li><%= link_to "Entleiher", admin_borrowers_path %></li>
        <li><%= link_to "Leihvorgänge", admin_lendings_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid sidebar-left">
  <div class="fluid-sidebar">
    <%= yield :sidebar %>
  </div>
  <div class="fluid-content">
    <%= yield :content %>
  </div>
</div>
</body>
</html>
